html {
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    margin: 1%;
    overflow-x: hidden;
}

.spacer {
    margin-top: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #428BCA;
    color: #1505f4;
}

.clickable {
    cursor: pointer;
}

.glyphicon-chevron-up {
    font-size: 9px;
}

.glyphicon-chevron-down {
    font-size: 9px;
}

.highlighting {
    background-color: #cabd69;
}

.labelNewEmail {
    width: auto;
}

.emailContent {
    width: 100%;
}

.input-group {
    width: 100%;
}

.input.ng-invalid {
    background-color: #ca0e08;
}

.from {
    width: 20%;
}

.to {
    width: 15%;
}

.subject {
    width: 45%;
}

.date {
    width: 15%;
}

a {
    cursor: pointer;
}

.unVisitedEmail {
    color: black;
}

.visitedEmail {
    color: #000099;
}

.vertical-line {
    border-right: 1px dotted #ddd;
}

.fit-borders {
    padding-left: 8%;
    padding-right: 6%;
}

.footer {
    margin-bottom: 5%;
}

.align-right {
    text-align-all: right;
}