<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AngularJS - Mailer</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/bootstrap/css/bootstrap-theme.min.css">

</head>
<body ng-app="Mailer" ng-controller="MainController">

<div class="row">
    <div class="col-xs-12 col-sm-12">

        <div ng-show="folder !== null && selectedMail == null" class="fit-borders">

            <div class="spacer input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>

                <input type="text" ng-model="search" class="form-control" placeholder="Find an email...">

                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="eraseSearch()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <!-- Left panel -->
            <div class="col-xs-12 col-sm-2 vertical-line">
                <div class="spacer nav">
                    <ul class="nav nav-pills">
                        <li ng-if="selectedEmails.length !== 0" class="nav nav-pills">
                            <a ng-class="{active: selectedMail != null}"
                               ng-click="deleteEmail()">
                                Delete
                                <span class="badge alert-danger">{{selectedEmails.length}}</span>
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </li>
                        <li class="nav nav-pills">
                            <a ng-class="{active: newEmail != null}" ng-click="addEmail()">
                                <label>
                                    New Email <span class="glyphicon glyphicon-pencil"></span>

                                </label>
                            </a>
                        </li>
                        <li ng-repeat="folder in folders" class="{folder === currentFolder} clickable nav nav-pills">
                            <a class="btn" ng-click="selectFolder(folder.value)">
                                {{folder.label}}<span class="badge">{{folder.emails.length}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Center panel -->

            <div class="col-xs-12 col-sm-10">

                <div ng-show="folder !== null && newEmail == null && selectedMail == null">

                    <table class="table table-hover table-striped spacer">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="from">
                                <a ng-click="sortEmail('from')">From</a>
                                <span ng-class="cssChevronSort('from')"></span>
                            </th>
                            <th class="to">
                                <a ng-click="sortEmail('to')">To</a>
                                <span ng-class="cssChevronSort('to')"></span>
                            </th>
                            <th class="subject">
                                <a ng-click="sortEmail('subject')">Subject</a>
                                <span ng-class="cssChevronSort('subject')"></span>
                            </th>
                            <th class="date">
                                <a ng-click="sortEmail('date')">Date</a>
                                <span ng-class="cssChevronSort('subject')"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="email in filtered = (currentFolder.emails | filter:search) | orderBy:fieldSort:sortDown"
                            class="clickable" ng-click="displayEmail(email)">
                            <td>
                                <label>
                                    <input class="clickable" type="checkbox" ng-model="email.status"
                                           ng-true-value="checked" ng-click="selectEmail(email)">
                                </label>
                            </td>
                            <td ng-bind-html="email.from | highlightingSearch:search"></td>
                            <div ng-class="{visitedEmail: selectedEmail.status}">
                                <td>
                                    {{email.to}}
                                </td>
                                <td>
                                    {{email.subject}}
                                </td>
                                <td>
                                    {{email.date | date:'dd/MM/yyyy HH:mm'}}
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- New Email -->
                <div class="spacer" ng-show="newEmail !== null">
                    <form name="formNewEmail">
                        <div class="input-group">
                            <span class="input-group-addon labelNewEmail">To</span>
                            <input type="text" class="form-control" ng-model="newEmail.to" placeholder="Email to ..."/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon labelNewEmail">Subject</span>
                            <input type="text" class="form-control" ng-model="newEmail.subject"
                                   placeholder="Email subject ..."/>
                        </div>
                        <div class="spacer">
                <textarea ui-tinymce="content" class="emailContent" name="content" rows="10"
                          ng-model="newEmail.content"
                          placeholder="Email content here...">
                </textarea>
                        </div>

                        <div class="spacer text-center">
                            <button class="btn alert-danger" ng-disabled="formNewEmail.$pristine"
                                    ng-click="eraseNewEmail()">Erase
                                Email
                            </button>
                            <button class="btn btn-success"
                                    ng-disabled="formNewEmail.$invalid || formNewEmail.$pristine"
                                    ng-click="sendEmail()">Send Email
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Center panel - Email details -->
        </div>
        <hr>
        <mail-content ng-show="selectedEmail !== null" email="selectedEmail">
        </mail-content>
    </div>

</div>
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/mustache.js"></script>
<script type="text/javascript" src="lib/angular-sanitize.min.js"></script>
<script type="text/javascript" src="angular/filters/emailFilter.js"></script>
<script type="text/javascript" src="angular/services/mailServiceMock.js"></script>
<script type="text/javascript" src="angular/directives/emailDirectives.js"></script>
<script type="text/javascript" src="angular/mailer.js"></script>
</body>
<div class="footer"></div>
</html>